<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Yuya Tinnefeld</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" />
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />

    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Yuya Tinnefeld</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='assets/img/profile.jpg') }}" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/project">Projects</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/#experience">Experience</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Hello
                        <span class="text-primary">I'm Yuya✌️</span>
                    </h1>
                    <div class="subheading mb-5">
                        Data, DevOps & MLOps Engineer FROM 🇩🇪🇯🇵  
                    </div>
                    <p class="lead mb-5">
                        Coming from a marketing background, I ventured into the world of data engineering and found my new passion: Big Data, ML & Devops.
                        I always loved the tickle of excitement that you get, when you jump heads on into a new project.
                        While diving deeper into this versatile language, it just amazes me over and over again.
                    </p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://de.linkedin.com/in/yuya-tinnefeld-b6004b110" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://gitlab.com/yuyatinnefeld" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://hub.docker.com/search?q=yuyatinnefeld&type=image" target="_blank"><i class="fab fa-gitlab"></i></a>
                        <a class="social-icon" href="https://www.xing.com/profile/YuyaThomas_Tinnefeld/cv" target="_blank"><i class="fab fa-xing"></i></a>
                        <a class="social-icon" href="https://hub.docker.com/search?q=yuyatinnefeld&type=image" target="_blank"><i class="fab fa-docker"></i></a>

                    </div>
                </div>
            </section>
            <hr class="m-0" />

            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">My Skills</h2>

                    <div class="row">

                        <div class="col-sm">
                            <h3>Programming Language</h3>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Python ★★★★★</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>SQL ★★★★</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Scala ★★★</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Java ★★</li>
                            <br><br>                          
                        </div>
                          <div class="col-sm">
                            <h3>Cloud Technology</h3>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>GCP ★★★★</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>AWS ★★</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Databricks ★★</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Azure ★</li>
                            <br><br>                           
                        </div>
                          <div class="col-sm">
                            <h3>DevOps</h3>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Git/Gitlab/Github ★★★★★</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Terraform ★★★★★</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Docker ★★★★</li>
                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Kubernetes ★★</li>
                            <br><br>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Object</th>
                                        <th scope="col">Level</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Big Data</td>
                                        <td>Spark</td>
                                        <td>★★★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Big Data</td>
                                        <td>Hadoop</td>
                                        <td>★★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Big Data</td>
                                        <td>Kafka</td>
                                        <td>★  </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>ETL</td>
                                        <td>Pandas</td>
                                        <td>★★★★</td>
                                    </tr>                                    
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>ETL</td>
                                        <td>Airflow</td>
                                        <td>★★★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>ETL</td>
                                        <td>dbt</td>
                                        <td>★★★</td>
                                    </tr>                                    
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>DWH / DB</td>
                                        <td>BigQuery</td>
                                        <td>★★★★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>DWH / DB</td>
                                        <td>Snowflake</td>
                                        <td>★★★★</td>
                                    </tr>                                    
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>DWH / DB</td>
                                        <td>PostgreSQL</td>
                                        <td>★★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>DWH / DB</td>
                                        <td>MySQL</td>
                                        <td>★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>DevOps</td>
                                        <td>Selenium</td>
                                        <td>★★★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">12</th>
                                        <td>DevOps</td>
                                        <td>Vault</td>
                                        <td>★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">14</th>
                                        <td>API</td>
                                        <td>FastAPI</td>
                                        <td>★★★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">14</th>
                                        <td>API</td>
                                        <td>Flask+Swagger</td>
                                        <td>★★★★</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">15</th>
                                        <td>API</td>
                                        <td>GraphQL</td>
                                        <td>★★</td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />

            <!-- Projects-->
            <!--section class="resume-section" id="projects">
                <div class="resume-section-content">
                    <h2 class="mb-5">My Projects</h2>
                    <ul class="fa-ul mb-0">
                        <p>Coming Soon</p>
                    </ul>
                </div>
            </--section-->

            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">My Experience</h2>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Data DevOps Engineer</h3>
                            <div class="subheading mb-3"><a href="https://www.rewe-group.com/de/" target="_blank">REWE SYSTEMS</a>, COLOGNE</div>
                            <p>
                                Currently I'm working as Data DevOps Engineer in the product team "Sortiment Engine Optimization" at Rewe, 
                                My main tasks are building a stable CI/CD-pipeline for the Engineers and ML team and creating cloud infrastructe in GCP. 
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Jul 2021 - Present</span></div>
                    </div>


                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Marketing Digital Analyst</h3>
                            <div class="subheading mb-3"><a href="https://www.publicismedia.de" target="_blank">PUBLICIS MEDIA</a>, DÜSSELDORF</div>
                            <p>
                                Working with global clients from different sectors such as automotive, travel and Ecommerce, I enhance my skills in the operative day-to-day analytics and support as well as the strategic consulting.
                                he main areas responsibility were customized tracking set up, analytics, A/B-testing, dashboarding and data management.
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Mar 2018 - Jun 2021 </span></div>


                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">SEO & WEB ANALYST</h3>
                            <div class="subheading mb-3"><a href="https://www.rtl.de" target="_blank">RTL INTERACTIVE</a>, COLOGNE</div>
                            <p>
                                Based on Google Analytics data I was supporting data driven decisions in the field on content management. I worked on over 10 different platforms,
                                websites as well as Apps, in order to enhance the range of products and to constantly improve the existing product portfolio.
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Sep 2017 - Feb 2018</span></div>
                    </div>


                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">DATA MINING & WEB ANALYST</h3>
                            <div class="subheading mb-3"><a href="https://www.network-publishing.de" target="_blank">NETWORK.PUBLISHING</a>, COLOGNE</div>
                            <p>
                                My first hands-on experience, I got during the bachelor thesis project TYPO3 agency ‘network.publishing’.
                                In this project, I created a data pipeline, in which online user behaviour data was collected in the SQL database
                                and visualized in Tableau.
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Nov 2016 - Sep 2017</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">STARTUP OF ECOMMERCE BUSINESS</h3>
                            <div class="subheading mb-3"><a href="https://wanamour.de" target="_blank">WANAMOUR</a>, DÜSSELDORF</div>
                            <p>During my studies of computer science, I founded the Ecommerce business ‘Wanamour’
                                in order to translate the web development theories into practice and to present
                                Japanese handcrafts to a European audience.
                            </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Nov 2014 - Present</span></div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">COMPUTER SCIENCE (B.SC.)</h3>
                            <div class="subheading mb-3"><a href="https://www.h-brs.de/en"target="_blank">UNIVERSITY OF BONN-RHEIN-SIEG</a>, BONN</div>
                            <p>Business Intelligence, Data Warehouse, Data Mining</p>
                            <p>GPA: 2.5</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Sep 2013 - Aug 2017</span></div>
                    </div>

                </div>
            </section>
            <hr class="m-0" />

        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
